<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1" >

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>webBetController</servlet-name>
        <servlet-class>com.pavel.webbet.controller.WebBetController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webBetController</servlet-name>
        <url-pattern>/webBetController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addMatch.jsp</servlet-name>
        <jsp-file>/jsp/addMatch.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addMatch.jsp</servlet-name>
        <url-pattern>/addMatch.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminBetPage.jsp</servlet-name>
        <jsp-file>/jsp/adminBetPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminBetPage.jsp</servlet-name>
        <url-pattern>/adminBetPage.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookmakerPanel.jsp</servlet-name>
        <jsp-file>/jsp/bookmakerPanel.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookmakerPanel.jsp</servlet-name>
        <url-pattern>/bookmakerPanel.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editBet.jsp</servlet-name>
        <jsp-file>/jsp/editBet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editBet.jsp</servlet-name>
        <url-pattern>/editBet.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editMatch.jsp</servlet-name>
        <jsp-file>/jsp/editMatch.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editMatch.jsp</servlet-name>
        <url-pattern>/editMatch.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>header.jsp</servlet-name>
        <jsp-file>/jsp/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>header.jsp</servlet-name>
        <url-pattern>/header.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>home.jsp</servlet-name>
        <jsp-file>/jsp/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home.jsp</servlet-name>
        <url-pattern>/home.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginLogoutHeader.jsp</servlet-name>
        <jsp-file>/jsp/loginLogoutHeader.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginLogoutHeader.jsp</servlet-name>
        <url-pattern>/loginLogoutHeader.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>makeBet.jsp</servlet-name>
        <jsp-file>/jsp/makeBet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>makeBet.jsp</servlet-name>
        <url-pattern>/makeBet.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myBets.jsp</servlet-name>
        <jsp-file>/jsp/myBets.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>myBets.jsp</servlet-name>
        <url-pattern>/myBets.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myBetsHeader.jsp</servlet-name>
        <jsp-file>/jsp/myBetsHeader.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>myBetsHeader.jsp</servlet-name>
        <url-pattern>/myBetsHeader.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register.jsp</servlet-name>
        <jsp-file>/jsp/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>register.jsp</servlet-name>
        <url-pattern>/register.jsp</url-pattern>
    </servlet-mapping>
</web-app>
